
#body {
    background-color: black;
}

#calcContainer {
    align-self: center;
    padding: 3px;
    margin: 100px auto auto auto;
    width: 300px;
    height: 325px;
    background-color: rgb(24, 23, 23);
    border: solid, rgb(71, 69, 69), 5px;
}

#displayBox {
    text-align: right;
    height: 75px;
    width: 300px;
    box-sizing: border-box;
    border: solid, black, 5px;
    font-size: 30px;
    background-color: rgb(214, 204, 204);
}

#steamboat {
    width: 290px;
    height: 65px;
}

.rows {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.numberBtns, .operatorBtns, 
#decimalBtn, #negNumBtn, #clearBtn {
    min-width: 75px;
    min-height: 50px;
    background: orange;
    font-weight: bold;
    font-size: 15px;
}

#equalBtn {
    min-width: 150px;
    min-height: 50px;
    background-color: rgb(92, 199, 252);
}

.numberBtns, #decimalBtn {
    background-color: rgb(159, 157, 157);
}
#clearBtn {
    background-color: rgb(207, 41, 41);
}

#negNumBtn {
    background-color: rgb(255, 230, 0) ;
}

